.splash{
    height: 100vh;
    width: 100%;
    text-align: center;
}
body {
  background: url(images/IMG_2650.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.resume{
  border: 5px solid black;
  padding: 5px;
}

.bkg{
  background-color: white;
  border-radius: 10px;
}

.nameBadge{
  margin: auto;
}

.fa{
  padding: 5px;
}

.padBottom{
  padding-bottom: 70px;
}

.connect{
  margin-top: 35vh;
}
.projects{
  margin-top: 15vh;
}

.btn{
  padding: 10px;
  height: 50px;
  background-color: transparent !important;
}
